<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="web/styles/output.css">
    <script defer type="text/javascript" src="web/scripts/htmx.min.js"></script>
    <title>Home</title>
</head>
<body>
    <h1>Counter</h1>
    <button hx-post="/increment" hx-target="#wrapper" hx-include="#counterInput">+</button>
    <div id="wrapper">
        <input type="hidden" id="counterInput" name="counter" value="0">
        <p id="counter">0</p>
    </div>
    <button hx-post="/decrement" hx-target="#wrapper" hx-include="#counterInput">-</button>
</body>
</html>